.git
__pycache__/
.pytest_cache/
*.pyc
input/*
processing/*
output/*
archive/*
failed/*
logs/*
models/*
!input/.gitkeep
!processing/.gitkeep
!output/.gitkeep
!archive/.gitkeep
!failed/.gitkeep
!logs/.gitkeep
!models/.gitkeep

