__pycache__/
.pytest_cache/
*.pyc
.venv/
*.egg-info/
/standalone/tmp-output/
/input/*
/processing/*
/output/*
/archive/*
/failed/*
/logs/*
/models/*
/config/translation-defaults.json
!/input/.gitkeep
!/processing/.gitkeep
!/output/.gitkeep
!/archive/.gitkeep
!/failed/.gitkeep
!/logs/.gitkeep
!/models/.gitkeep
